<table class="table table-striped">
	<tbody>
		<tr>
			<th>Nom</th>
			<td>{{ recette.nom }}</td>
		</tr>
		<tr>
			<th>Durée</th>
			<td>{{ recette.duree }}</td>
		</tr>
		<tr>
			<th>Difficulté</th>
			<td>{{ niveau }}</td>
		</tr>
		<tr>
			<th>Prix</th>
			<td>{{ prix }}</td>
		</tr>
	</tbody>
</table><br>
