{% extends 'base.html.twig' %}

{% block title %}New Ustensile{% endblock %}

{% block body %}
    <h1>Create new Ustensile</h1>

    {{ include('ustensile/_form.html.twig') }}

    <a href="{{ path('app_ustensile_index') }}">back to list</a>
{% endblock %}
