{% extends 'base.html.twig' %}

{% block title %}Mes recettes
{% endblock %}

{% block body %}

	<table id="InfoTable" class="table table-striped">
		<thead>
			<tr class="table-dark">
				<th>Nom</th>
				<th>Durée</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for recette in recettes %}
				<tr>
					<td>{{ recette.nom }}</td>
					<td>{{ recette.duree }}</td>
					<td>
						<a href="{{ path('recette_show', {'id': recette.id}) }}">show</a>
						{% if app.user %}
							<a href="{{ path('recette_edit', {'id': recette.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}
	<script src="/js/Datatable.js"></script>
{% endblock %}
