{% extends 'base.html.twig' %}

{% block title %}
	{{ recette.nom }}
{% endblock %}

{% block body %}
	<h1>{{ recette.nom }}</h1>
	{% include "/shared/recette/_recette.html.twig" %}

	<div class="row">
		<div class="col">
			{% include "/shared/recette/_etapes.html.twig" %}
		</div>
		<div class="col">
			{% include "/shared/recette/_ingredients.html.twig" %}
		</div>
		<div class="col">
			{% include "/shared/recette/_ustensiles.html.twig" %}
		</div>

		{% if app.user %}
			<a href="{{ path('recettes_show_user', {'user': app.user.id }) }}">Retour à la liste</a>
		{% else %}
			<a href="{{ path('recette_index') }}">Retour à la liste</a>
		{% endif %}
	{% endblock %}
